@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NanumSquareRound";
}

#container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrap {
  overflow: hidden;
  display: flex;
}

/****************************************
                  메모
 ****************************************/
.memo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  height: 770px;
  min-width: 300px;
  max-width: 100%;
  width: 350px;
  margin-left: 0;
  float: left;
}

.memoTitle {
  font-size: 28px;
  font-family: 'Changa One', sans-serif;
  color: #3d3d3d;
  margin: 5px auto;
}

.memoContents {
  font-size: 18px;
  margin-bottom: 5px;
}

.textarea {
  width: 100%;
  height: 450px;
  box-sizing: border-box;
  margin: 5px 0;
  Border: 2px solid #f0f0f0;
  font-family: "NanumSquareRound", sans-serif;
  font-size: 15px;
  padding: 10px;
}

.memoFunction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50px;
  background-color: #222222;
  color: #fff;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 10px;
}

.memoFunction:active {
  background-color: #3d3d3d;
}

#myvideo {
  height: 720px;
  width: 1280px;
  background-color: gainsboro;
  float: left;
}

.memoGuide {
  font-size: 15px;
  height: 50px;
}

/****************************************
              사전 진단 퀴즈
 ****************************************/
#pQuizWrap {
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
}

.pQuizContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  width: 1080px;
  height: 495px;
}

.pQuizSubHeading {
  width: 1080px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pQuizSubHeading div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pQuizSubHeading div:first-child {
  width: 5%;
  height: 100%;
}

.pQuizSubHeading div:nth-child(2) {
  width: 5%;
  height: 100%;
}

.pQuizSubHeading div:nth-child(3) {
  width: 70%;
  height: 100%;
}

.pQuizSubHeading div:nth-child(4) {
  width: 10%;
  height: 100%;
}

.pQuizSubHeading div:last-child {
  width: 10%;
  height: 100%;
}

.pQuizQuestionWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pQuizNumber {
  width: 5%;
  height: 45px;
  text-align: center;
}

.pQuizCheck {
  display: flex;
  justify-content: center;
  width: 5%;
  height: 100%;
  flex-shrink: 0;
}

.pQuizQuestion {
  width: 70%;
  height: 45px;
}

.pQuizMultipleChoiceY,
.pQuizMultipleChoiceN {
  width: 10%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pQuizResultTitle {
  width: 80%;
  height: 30px;
}

.pQuizResult {
  width: 100%;
  height: 50%;
}

.pQuizScore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 50px;
  font-weight: bold;
  font-size: 100px;
  font-family: 'Changa One', sans-serif;
}

.pQuizGrade {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #3d3d3d; */
  color: black;
  font-size: 100px;
  width: 1100px;
  height: 50%;
}

.pQuizButtonStyle {
  width: 150px;
  height: 50px;
  position: absolute;
  right: 570px;
  bottom: 15px;
  background-color: #222222;
  color: #fff;
  border-radius: 50px;
  font-size: 15px;
  font-family: "NanumSquareRound", sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.emoticon {
  width: 150px;
  height: 150px;
  margin-right: 100px;
}

/****************************************
            사전퀴즈 결과 팝업
 ****************************************/
.pQuizResult-popUp {
  display: none;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
}

.pQuizResultWrap {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(13.5%, 22%);
  background-color: white;
}

.pQuizResultTitleWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

.pQuizResultImgWrap {
  width: 300px;
  height: 200px;
  background-color: #3266AE;
}

.pQuizResultGradeWrap {
  width: 600px;
  height: 200px;
  background-color: red;
}

.pQuizResultContentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}

.coverImageStyle {
  width: 100%;
  height: 100%;
  background: url() no-repeat center;
  background-size: cover;
}

#learning-materials {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(90%, -370%);
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  border-radius: 40px;

}

.pointWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  padding-right: 25px;
  border: 8px solid #8289ff;
  box-sizing: border-box;
}

.pointWrap>a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  animation: bounce 0.5s infinite alternate;

}

.pointImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 45px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  margin-left: -40px;
  border: 8px solid #8289ff;
  box-sizing: border-box;
}

/****************************************
                퀴즈 스크린
 ****************************************/
#screenView {
  display: flex;
  justify-content: center;
  background-color: green;
  width: 1280px;
  height: 720px;
}

.screenViewTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3266AE;
  width: 1100px;
  height: 200px;
  margin-top: 100px;
  font-size: 30px;
}

/****************************************
                  퀴즈
 ****************************************/
#quizWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
}

.questionWrap {
  display: flex;
  margin-top: 150px;
  margin-bottom: 30px;
  height: 100px;
  width: 1110px;
}



.answerResultCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.quizQuestion {
  display: flex;
  width: 90%;
  height: 100px;
  align-items: center;
  margin-left: 70px;
  text-align: center;
}

.multipleChoice {
  display: flex;
  width: 80%;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 130px;
  margin-bottom: 0px;
}

.viewAnswer1,
.viewAnswer2,
.viewAnswer3,
.viewAnswer4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: red;
}

.viewAnswer1>p,
.viewAnswer2>p,
.viewAnswer3>p,
.viewAnswer4>p {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
}

.choice {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0px auto;
  font-size: 20px;
  font-weight: bold;
}

.choice.check1,
.choice.check2,
.choice.check3,
.choice.check4 {
  position: relative;
}

.choice.check1 .checkImg1,
.choice.check2 .checkImg2,
.choice.check3 .checkImg3,
.choice.check4 .checkImg4 {
  display: none;
  background-color: green;
  width: 35px;
  height: 35px;
  background: url(../image/check.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50px;
}

.choiceImg1 {
  width: 35px;
  height: 35px;
  background: url(../image/choice1.png) no-repeat center;
  background-size: cover;
  margin-right: 10px;
}

.choiceImg2 {
  width: 35px;
  height: 35px;
  background: url(../image/choice2.png) no-repeat center;
  background-size: cover;
  margin-right: 10px;
}

.choiceImg3 {
  width: 35px;
  height: 35px;
  background: url(../image/choice3.png) no-repeat center;
  background-size: cover;
  margin-right: 10px;
}

.choiceImg4 {
  width: 35px;
  height: 35px;
  background: url(../image/choice4.png) no-repeat center;
  background-size: cover;
  margin-right: 10px;
}


.choice:hover {
  color: red;
}

.choice:hover .choiceImg1 {
  background-image: url(../image/selected1.png);
}

.choice:hover .choiceImg2 {
  background-image: url(../image/selected2.png);
}

.choice:hover .choiceImg3 {
  background-image: url(../image/selected3.png);
}

.choice:hover .choiceImg4 {
  background-image: url(../image/selected4.png);
}

.choiceImg1.checked,
.choiceImg2.checked,
.choiceImg3.checked,
.choiceImg4.checked {
  background-image: url(../image/check.png);
}

.explainQuiz {
  position: relative;
  margin-left: 140px;
  font-size: 20px;
  width: 900px;
  height: 80px;
  overflow: auto;
  word-wrap: break-word;
}


.quizButtonStyle {
  width: 150px;
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: 10px;
  background-color: #222222;
  color: #fff;
  border-radius: 50px;
  font-size: 15px;
  font-family: "NanumSquareRound", sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.quizButtonStyle2 {
  width: 150px;
  height: 50px;
  position: absolute;
  right: 565px;
  bottom: 10px;
  background-color: #222222;
  color: #fff;
  border-radius: 50px;
  font-size: 15px;
  font-family: "NanumSquareRound", sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.resultTitle {
  display: flex;
  width: 78.6%;
  height: 170px;
  align-items: center;
  justify-content: center;
  margin: 88px auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/quizResultTitle_bg.jpg);
  background-size: cover;
  color: white;
}

.quizResult {
  display: flex;
  width: 80%;
  height: 250px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0;
}

.quizReview {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 45px;
}

.quizReview>h2 {
  margin-right: 20px;
}

.quizCheckWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  border: 2px solid black;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.quizNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 30%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.quizCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.quizGrade {
  display: flex;
  width: 80%;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/****************************************
                  인덱스
 ****************************************/
.index-popup {
  display: none;
  position: absolute;
  /* z-index: 1;  */
  /*맨위에 올라오게 해야할 경우 주석 해제*/
  left: -280px;
  bottom: 100%;
  transform: translateX(-50%, -50%);
  width: 280px;
  height: 680px;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
}

.indexWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.indexTitle {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  height: 30px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
}

.indexTitle>span {
  color: #78B1FF;
}

.movePage {
  color: white;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.lectureTitle {
  margin-bottom: 25px;
}

#lectureWrap :first-child {
  margin-top: 20px;
}

#lectureWrap :last-child {
  margin-bottom: 20px;
}

.movePage:hover {
  color: #78B1FF;
}

/****************************************
                  페이징
 ****************************************/
#paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 160px;
  display: block;
  margin-left: 160px;
}

#prev {
  float: left;
  width: 34px;
}

#page_num {
  margin: 0px 0 0 0px;
  float: left;
  width: 90px;
  color: #222;
  font-size: 24px;
  font-weight: 600;
  /* font-style: italic; */
}

#next {
  float: left;
  width: 25px;
  margin-left: 5px;
}

#btnPrev {
  width: 20px;
  margin-top: 8px;
}

#btnNext {
  width: 20px;
  margin-top: 8px;
}

/****************************************
                추천강의
 ****************************************/
#recommendWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
}

.recommendTitle {
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto 0px auto;
}

.recommendLinkWrap {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 200px auto 0px auto;
}

.recommendPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 33%;
  height: 100%;
  overflow: hidden;
}

.recommendPreview div:nth-child(2)>a {
  text-decoration: none;
  color: #222222;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.recommendPreview div:nth-child(2)>a:hover {
  color: #3266AE;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.recommendImg {
  width: 320px;
  height: 200px;
  background-position: center;
  background-size: cover;
  animation: bounce 0.5s infinite alternate;
}

.recommendLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  text-align: center;
  background-color: #78B1FF;
  border: #fff 3px solid;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.recommendLink>a {
  text-decoration: none;
  font-family: "NanumSquareRound", sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

/************* 여기부터 커스텀 플레이어 ************/

#navBarWrap {
  position: relative;
  width: 1280px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  background-color: #f0f0f0;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 15px;
  cursor: pointer;
}

.play {
  position: relative;
  width: 50px;
  height: 100%;
  background: url(../image/playBtn.png) no-repeat center;
  background-size: 20px 20px;
  margin-left: 15px;
  cursor: pointer;
}

.play:hover {
  position: relative;
  width: 50px;
  height: 100%;
  background: url(../image/playBtnOver.png) no-repeat center;
  background-size: 20px 20px;
  margin-left: 15px;
  cursor: pointer;
}

.pause {
  width: 50px;
  height: 100%;
  background: url(../image/pause.png) no-repeat center;
  background-size: 20px 20px;
  margin-left: 15px;
  display: none;
  cursor: pointer;
}

.pause:hover {
  width: 50px;
  height: 100%;
  background: url(../image/pauseOver.png) no-repeat center;
  background-size: 20px 20px;
  margin-left: 15px;
  display: none;
  cursor: pointer;
}

.reload {
  width: 50px;
  height: 100%;
  background: url(../image/reload.png) no-repeat center;
  background-size: 20px 20px;
  margin-left: 15px;
  display: none;
  cursor: pointer;
}

.reload:hover {
  width: 50px;
  height: 100%;
  background: url(../image/reloadOver.png) no-repeat center;
  background-size: 20px 20px;
  margin-left: 15px;
  display: none;
  cursor: pointer;
}

.seek {
  width: 500px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  /* overflow: hidden; */
  margin: auto 0;
}

#seek-bar {
  position: relative;
  width: 0;
  height: 100%;
  background: #222;
  border-radius: 3px;
}

/* #seek-handle {
  position: absolute;
  right: 0;
  width: 15px;
  height: 100%;
  background-color: aqua;
} */

/* .seek .ui-slider-range {
  top: 0px;
  left: 0px;
  height: 6px;
  background-color: #fda947;
  cursor: pointer;
  border: none;
  outline: none;
}

.seek .ui-slider-handle {
  top: -7px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  outline: none;
} */

.timer {
  width: 140px;
  margin: 0px 0px;
  color: #111;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0px;
}

.controls-bar {
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
}

.sound {
  width: 40px;
  height: 100%;
  background: url(../image/volume.png) no-repeat center;
  background-size: 23px 23px;
  cursor: pointer;
}

.sound:hover {
  background: url(../image/volumeOver.png) no-repeat center;
  background-size: 23px 23px;
}

.volume-popup {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transform: translateX(-10%);
  bottom: 90%;
  animation: fadein 0.5s;
  opacity: 0;
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.volume-popup input[type="range"] {
  height: 30%;
  width: 150%;
  margin: auto 0;
  position: absolute;
  transform: rotate(-90deg) translateX(+20%) translateY(-126%);
  top: 50%;
  left: 50%;
}

.widemode {
  width: 40px;
  height: 100%;
  background: url(../image/expand.png) no-repeat center;
  background-size: 24px 24px;
  cursor: pointer;
}

.widemode:hover {
  background: url(../image/expandOver.png) no-repeat center;
  background-size: 24px 24px;
}

.smallmode {
  width: 40px;
  height: 100%;
  background: url(../image/minimize.png) no-repeat center;
  background-size: 20px 20px;
  cursor: pointer;
}

.smallmode:hover {
  background: url(../image/minimizeOver.png) no-repeat center;
  background-size: 20px 20px;
}

.download {
  width: 40px;
  height: 100%;
  background: url(../image/download.png) no-repeat center;
  background-size: 24px 24px;
  cursor: pointer;
}

.download:hover {
  background: url(../image/downloadOver.png) no-repeat center;
  background-size: 24px 24px;
}

/****************************************
                말풍선
 ****************************************/
.playWrapper {
  position: relative;
}

.bubbleBox {
  position: absolute;
  top: -140px;
  /* 말풍선의 위치 - 조절 필요 */
  left: -70px;
  /* 말풍선의 위치 - 조절 필요 */
  padding: 20px;
  animation: shake 1s infinite;
  pointer-events: none;
}

.bubbleBoxNext {
  position: absolute;
  top: -140px;
  /* 말풍선의 위치 - 조절 필요 */
  left: 1090px;
  /* 말풍선의 위치 - 조절 필요 */
  padding: 20px;
  animation: shake 1s infinite;
  pointer-events: none;
  display: none;
}

.playAlarm {
  position: relative;
  margin: 50px;
  padding: 10px;
  width: 60px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  background-color: #000;
}

.playAlarm:after {
  content: "";
  position: absolute;
  top: 21px;
  right: -30px;
  border-left: 30px solid #000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.playAlarm.gr {
  background-color: #3266AE;
  font-size: 12px;
  text-align: center;
}

.playAlarm.gr:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 40px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #3266AE;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}